/* Estilização para o mat-form-field */
.example-form-field {
    width: 100%;
    background-color: #f5f5f5; /* Cor de fundo */
    border-radius: 4px; /* Borda arredondada */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: background-color 0.3s, box-shadow 0.3s; /* Efeito de transição suave */
    top: 60px; /* Ajuste a posição vertical conforme necessário */
    position:static;
    z-index: 1; 
  }
  
  /* Estilização para o ícone de pesquisa */
  .example-icon {
    color: #777; /* Cor do ícone */
    font-size: 24px; /* Tamanho do ícone */
    margin-right: 8px; /* Espaçamento entre o ícone e o campo de texto */
    display: inline-block;
  }
  
  /* Estilização para o input de pesquisa */
  .mat-input-element {
    border: none; /* Remove a borda padrão do input */
    outline: none; /* Remove a borda ao focar */
    background-color: transparent; /* Fundo transparente */
    width: 100%;
    padding: 10px; /* Espaçamento interno */
    font-size: 16px;
    display: inline-block;
  }
  
  /* Estilização para o botão de pesquisa */
  .mat-icon-button {
    background-color: #007bff; /* Cor de fundo do botão */
    color: #fff; /* Cor do ícone do botão */
    border: none; /* Remove a borda do botão */
    border-radius: 4px; /* Borda arredondada */
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-block;
  }
  
  /* Estilização para o botão de pesquisa ao passar o mouse */
  .mat-icon-button:hover {
    background-color: #4d0017; /* Cor de fundo alterada ao passar o mouse */
  }
  .input-search{
    width: 80%;
    position:relative;
    z-index: -1;
  }