<div class="page-layout carded fullwidth inner-scroll">

    <div class="top-bg"></div>
  
    <div class="center">
  
      <div class="content-card">
  
        <mat-sidenav-container>
          <!-- <div id="board">
            <div fxFlex class="board-content-wrapper p-16 p-md-24">
              <div class="board-content p-16 p-md-24" fxLayout="row" [@animateStagger]="{value:'50'}">
                <ng-container *ngIf="fileBoard?.cards?.length" [@fadeIn]="fileBoard?.cards?.length">
                  <app-follow-up-card-list class="search" [board]="fileBoard">
                  </app-follow-up-card-list>
                </ng-container>
                <ng-container *ngIf="!fileBoard?.cards?.length" [@fadeOut]="!fileBoard?.cards?.length">
                  <app-follow-up-card-list [board]="boards[0]"> </app-follow-up-card-list>
                  <app-follow-up-card-list [board]="boards[1]"> </app-follow-up-card-list>
                  <app-follow-up-card-list [board]="boards[2]"> </app-follow-up-card-list>
                </ng-container>
              </div>
            </div>
          </div> -->
        </mat-sidenav-container>
  
      </div>
    </div>
  
  </div>
  
  
  