
<!-- DISPOSITIVO MÓVEL -->

<div *ngIf = "displayMovel">
    <ng-container *ngIf="value">
      <div fxFlex fxFlexAlign="start center">
          <span class="label" >{{label}}</span>
          <ng-container>
            <span class="value">{{value}}</span>
          </ng-container>
      </div>
    </ng-container>

    <!-- PARA O FUP  -->
      <ng-container *ngIf="fupValue" style="margin-bottom: 1rem;">
        <div style=" align-self:center; border: 1px solid rgba(0,0,0,.12);margin-bottom:5%; ">
          <div style="padding: 1rem; border: 1px solid rgba(0,0,0,.12);" layout-align="center">
            <b>{{fupValue.dtFup}}</b>
          </div>
          <div style="padding: 1rem; border: 1px solid rgba(0,0,0,.12);" layout-align="center">
            {{fupValue.dsFup}}
          </div>
        </div>
      </ng-container>
    </div>


    <!-- DISPOSITIVO NÃO MÓVEL -->

    <!-- SE FOR QUALQUER OUTRO DETALHE MENOS FUP  -->
    <div *ngIf = "!displayMovel">
      <ng-container *ngIf="value">
        <div fxFlex fxFlexAlign="start center">
            <span class="label" >{{label}}</span>
            <ng-container>
              <span class="value">{{value}}</span>
            </ng-container>
        </div>
      </ng-container>

      <!-- PARA O FUP  -->
      <ng-container *ngIf="fupValue" style="margin-bottom: 1rem;">
          <div fxLayout="row" fxLayoutAlign="start center" style="width: 100%; display: flex; align-self:center; border: 1px solid rgba(0,0,0,.12);" >
            <div fxLayout="row" style="width: 22%; padding: 1rem;border-right: 1px solid rgba(0,0,0,.12);" layout-align="start">
              <b> {{fupValue.dtFup}}</b>
            </div>
            <div fxLayout="row" style="width: 78%; padding:1rem ;" layout-align="end" >
              {{fupValue.dsFup}}
            </div>
          </div>
      </ng-container>
    </div>

<!-- SE FOR QUALQUER OUTRO DETALHE MENOS FUP  -->
