/*ALL SITE*/
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

*{
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
}
.logotipo-container{
    display: left;
    align-items: left;
    justify-content: left;
}
.header-container{
    width: 100%;
    position: absolute;
    top: 0;;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
}
.right-content{
    width: 100%;
    align-items:right;
    justify-content: right;
    place-items: right;
    display: grid;
}
.center-container{
    width: 100%;
    align-items: right;
    justify-content: right;
    display: grid;
  place-items: right; /* Centraliza horizontal e verticalmente */
}
/*DIV HEADER*/

/*LOGO*/
.imagem{
   width: 20vh;
   height: 11vh;
   padding: 20px;
}

/*MENU PRINCIPAL*/
.menu ul{
  position: relative;
  display: flex;
  justify-content: center;
}

.menu ul li{
    list-style: none;
    padding: 20px;
    color: #fff;
    font-size: 20px;
    

}

.menu ul a{
    display: inline-block;
    text-decoration: none;
}

.menu .inicio{
    color: #f95991;
    text-decoration: underline;
}


/*MENU BOTOES DE CADASTRO/LOGIN*/
.menu2{
    padding: 20px;
}
  
.botaocad, .botaologin{
    background-color: #0f0f0f;
    color: #fff;
    
}
.botaocad{
    border-color: #f95991;
    color: #f95991;
    border-radius: 3px;
    width: 130px;
    height: 35px;
    font-weight: bolder;
    border-style: double;
    padding: 2px;
    margin-right: 20px;
}
.homeCard{
    border-style: none;
    color: #fff;
    border-radius: 3px;
    width: auto;
    height: 30px;
    font-weight: bolder;
    padding: 3px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #0f0f0f;
}

:hover.homeCard, :hover.sobreCard{
    transform: scale(1.05);
    color: #ff2151;

    .text-button{
        transform: scale(1.05);
        color: #F07D90;
    }

    .icon-button{
        transform: scale(1.05);
        color: #F07D90;
    }
}

.sobreCard{
    border-style: none;
    color: #fff;
    border-radius: 3px;
    width: auto;
    height: 30px;
    font-weight: bolder;
    padding: 3px;
    margin-left: 20px;
    margin-right: 50px;
    background-color: #0f0f0f;
}

:hover.botaocad{
    transform: scale(1.05);
    color: #ff64a5;
    background-color: #252424b4;

    .text-button{
        transform: scale(1.05);
        color: #F07D90;
    }

    .icon-button{
        transform: scale(1.05);
        color: #F07D90;
    }
}

.botaologin{
    width: 90px;
    padding: 2px 5px;
    height:35px ;
    background-color: #f95991;
    border-style: none;
    border-radius: 3px;
    font-weight: bolder;
}

:hover.botaologin{
    transform: scale(1.05);
    color: #f1f1f1;

    .text-button{
        transform: scale(1.05);
        color: #d44e64;
    }

    .icon-button{
        transform: scale(1.05);
        color: #F07D90;
    }
}

/*CONTAINER PRINCIPAL*/

.infoPrinc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    margin-top: -5vh;
    // padding: 20px;
}

/*DIV ESQUERDA*/
.leftcont{
    /*margin-bottom:400px;*/
    padding-left:50px;
}

.imgPrinc{
    width: 500px;
}

/*DIV DIREITA*/
.rightcont{
    display: flex;
    flex-direction: column;
    padding:20px;
    /*margin-bottom: 300px;*/
    padding-right: 50px;
}

.h1Right{
    width: 600px;
    line-height: 60px;
    font-size: 50px;
}
.h1Right a{
    color: #f95991;
    text-decoration: none;
}

.h2Right{
    margin-top: 15px;
    color: #f95991;
}

.montarSite{
    margin-top: 15px;
    width: 270px;
    height:40px;
    background-color:#f95991;
    border-style:double;
    border-radius:1vh ;
    font-weight: bolder;
    border-color: #000;
}

:hover.montarSite{
    background-color: #f95991;
    color: #ffffff;

    transform: scale(1.05);
    color: #f1f1f1;

    .text-button{
        transform: scale(1.05);
        color: #d44e64;
    }

}


.center{
    display: grid;
    align-items: center;
    justify-content: center;
    place-items: center;
    flex-direction: column;
}
/*SECTION 2 CONTEUDO SECUNDÁIRO*/
.InfoSec{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
    display: grid;
    place-items: right;
    margin-top: 10vh;
}

.Infos{
    display: flex;
    flex-direction: column;
    place-items: center;
}

.h1InfoSec{
    width: 500px;
    font-size: 45px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

.h2InfoSec{
    font-size: medium;
    text-align: center;
    line-height: 25px;
    color: #5c5a5a;
}

.verExemplos{
    margin-top:10px;
    width: 125px;
    height: 35px;
    background-color: #fff;
    border-radius: 3px;
    border-width: 3px;
    font-weight: bolder;
    margin-top: 20px;
}

/*FOOTER*/
footer{
    width: 100%;
    height: auto;
    background-color: #0f0f0f;

}

.rightFooter{
    display: flex;
    align-items: center;
}

.h1Footer{
    color: #fff;
    font-size: 12px;
    margin-top:10px;
}


