
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<body>
    <div class="vetor">
       
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#0f0f0f" fill-opacity="1" d="M0,160L17.1,144C34.3,128,69,96,103,101.3C137.1,107,171,149,206,170.7C240,192,274,192,309,160C342.9,128,377,64,411,74.7C445.7,85,480,171,514,176C548.6,181,583,107,617,101.3C651.4,96,686,160,720,202.7C754.3,245,789,267,823,256C857.1,245,891,203,926,186.7C960,171,994,181,1029,186.7C1062.9,192,1097,192,1131,165.3C1165.7,139,1200,85,1234,80C1268.6,75,1303,117,1337,122.7C1371.4,128,1406,96,1423,80L1440,64L1440,0L1422.9,0C1405.7,0,1371,0,1337,0C1302.9,0,1269,0,1234,0C1200,0,1166,0,1131,0C1097.1,0,1063,0,1029,0C994.3,0,960,0,926,0C891.4,0,857,0,823,0C788.6,0,754,0,720,0C685.7,0,651,0,617,0C582.9,0,549,0,514,0C480,0,446,0,411,0C377.1,0,343,0,309,0C274.3,0,240,0,206,0C171.4,0,137,0,103,0C68.6,0,34,0,17,0L0,0Z"></path></svg>
            
    </div>
    
    <header class="header-container">
      
        <!--IMAGEM E MENU-->
            <div class="logotipo-container">
                <div> <img class="imagem" src={{logotipoPath}} alt=""></div>
            </div>
            

        <!--BOTOES DE CADASTRO E LOGIN-->

        <div class="right-content">
            <div class="menu2">

                <button class="homeCard" >HOME</button>
                <button class="sobreCard">SOBRE</button>

                <button class="botaocad" >CADASTRE-SE</button>
                <button class="botaologin" (click)="openDialog()">LOG IN</button>
                
            </div>
        </div>
            
    </header >
    
    <div class="center">
        <!--CONTAINER PRINCIPAL-->
        <section class="infoPrinc">

            <div class="leftcont">
                <img class="imgPrinc" src={{mainLogotipoPath}}  alt="">
            </div>
    
            <div class="rightcont">
                <h1 class="h1Right">Crie uma loja simples, bonita e moderna em minutos.</h1>
                <h2 class="h2Right">Zero código.</h2>
                <button class="montarSite">MONTE SEU SITE - GRATUITO</button>
            </div>
    
        </section>

        <section class="InfoSec">

            <div class="Infos">
                <h1 class="h1InfoSec"> <b style="color: #f95991;">Cartsy</b>, a solução para<br> <br>pequenos negócios.</h1>
                
                <h2 class="h2InfoSec">Liberte-se das amarras dos apps e marketplaces que consomem seus lucros com taxas exorbitantes. <br> Gerencie suas vendas, mantenha o controle total e economize dinheiro ao mesmo tempo. <br> Junte-se à revolução da Cartsy e transforme seu negócio hoje mesmo! </h2>
    
                <button class="verExemplos">Ver exemplos</button>
            </div>
        </section>
        <!--FOOTER-->
        
    </div>
    <!--CONTAINER SECUNDARIO-->
    
    <footer>
        <div class="rightFooter">
            <img class="imagem" src="assets/cartsy.jpeg" alt="">
            <h1 class="h1Footer">Lojas simples, bonitas e mordernas <br> para qualquer negócio.</h1>
        </div>
        <div class="leftFooter">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </div>
    </footer>


</body>