
<div class="container-pai">
    <div fxLayout="column" >
        <div style="height: 50px; display: flex; align-items: center; justify-content: center; position: fixed;top: 0;left: 0;width: 100%; z-index: 100; ">
            <app-top-bar style="width: 100%;"></app-top-bar>
        </div>
    
        <div fxLayout="row" fxFlex style="padding-top: 50px;">
            <div fxFlex="270px">
                <app-menu-lateral></app-menu-lateral>
            </div>
            <!-- <div fxFlex *ngIf="telaCatalogos">        
             <mat-tab label="Catálogo">
                <ng-template matTabContent>

                  <div class="center-spinner">
                    <mat-progress-spinner *ngIf="loadingCatalogo" diameter=80 mode="indeterminate"
                      color="accent-700">
                    </mat-progress-spinner>
                  </div>
                  <ng-container
                   *ngIf="messageErrorEvolucao"
                   >
                    <div class="center-spinner">
                    </div>
                  </ng-container>
                  <ng-container *ngIf="telaCatalogos">
                    <app-catalogo></app-catalogo>
                  </ng-container>

                </ng-template>

              </mat-tab>
            </div>
            <div fxFlex *ngIf="telaPedidos">
                <app-catalogo></app-catalogo>
            </div> -->
            <div fxFlex >
                <app-catalogo></app-catalogo>
            </div>
    
        </div>
      </div>

</div>
  
  