
.big-div{
    width: 90%;
    height: 90vh;
    // background-color: red;
    display: inline-block;
    margin-top: 20px;
}
.catalog {
    display: flex;
    flex-wrap: wrap; /* Isso fará com que os itens sejam empilhados quando não couberem na linha */
    gap: 10px; /* Espaçamento entre os itens */
    justify-content: left; /* Centraliza horizontalmente os itens */
    align-items: left;
  }
  
.item {
    width: 310px; /* 3 itens por linha; subtraindo o espaçamento */
    color: white;
    text-align: center;
    // padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    height: 400px;
    border: 0.1px solid rgba(17, 17, 17, 0.8);
    }
.item-add{
    width: 310px; /* 3 itens por linha; subtraindo o espaçamento */
    color: white;
    text-align: center;
    // padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    height: 400px;
    border: 0.1px solid rgba(17, 17, 17, 0.8);
    opacity: 0.7;
    }

.search-button{
    
    margin-bottom: 20px;
}