

<div class="big-div">
    
    <div class="search-button">
        <app-search-input></app-search-input>
    </div>

    <div class="catalog">
        
        <div class="item">
            
            <app-card-catalogo></app-card-catalogo>
            
        </div>

        <div class="item">

            <app-card-catalogo></app-card-catalogo>
            
        </div>

        <div class="item">

            <app-card-catalogo></app-card-catalogo>
            
        </div>
        <div class="item">

            <app-card-catalogo></app-card-catalogo>
            
        </div>

        <div class="item">

            <app-card-catalogo></app-card-catalogo>
            
        </div>
        <div class="item">

            <app-card-catalogo></app-card-catalogo>
            
        </div>

        <div class="item">

            <app-card-catalogo></app-card-catalogo>
            
        </div>

        <div class="item-add">
            <app-card-catalogo-add></app-card-catalogo-add>
        </div>
        
    </div>


    <!-- <ag-grid-angular
            style="width: 100%; height: 400px;"
            class="ag-theme-alpine"
            [rowData]="pedidos" 
            [columnDefs]="colunas">
    </ag-grid-angular> -->

</div>