<div class="card">


  <div class="body-button">
      <p-button label="Entrega"></p-button>
  </div>

  <div class="body-button">
      <p-button label="Retiradas"></p-button>
  </div>

  <div class="body-button">
      <p-button label="Agendamento"></p-button>
  </div>
  <div class="pedido-manualmente">
    <div class="body-button">
      <p-button label="Adicionar Pedido Manualmente"  icon="pi pi-check"  (click)="showAddNewDialog()" ></p-button>
    </div>
  </div>


  <p-table
      [lazy]="true"
      dataKey="id"
      [tableStyle]="{ 'min-width': '20rem' }"
      [paginator]="true"
      [rows]="10"
      [globalFilterFields]="['name', 'country.name', 'company', 'representative.name']"
      [value]="orders"
      >

      <ng-template pTemplate="header">
          <tr>
              <th style="width: 6rem">Status</th>
              <th>Produto</th>
              <th>Horário</th>
              <th >Valor Total</th>
              <th >Cliente</th>
          </tr>
      </ng-template>

      <ng-template pTemplate="body" let-order>
          <tr>
              <td>
                  <p-tableCheckbox [value]="pedidoFinalizado"></p-tableCheckbox>
              </td>
              <td>
                <p *ngIf="order.items.length<=1">
                  {{ order.items[0].name }}
                </p>
                <p>
                  <p *ngIf="order.items.length>1">
                    {{ order.items[0].name +", ..."  }}
                  </p>
              </td>
              <!-- <td *ngIf="order.items.langth>1">}</td> -->
              <td>{{ order.date}} </td>
              <td>{{ order.price }}</td>
              <td>{{ order.consumerName}}</td>
          </tr>
      </ng-template>

  </p-table>
    <p-dialog header="Adicionar Novo Produto" [(visible)]="displayAddDialog" [responsive]="true" [style]="{width: '50vw'}" [maximizable]="true">
      <div class="form-text">
          <div>
              <label for="newName">Nome Comprador:</label>
              <input class="textInput"  type="text" pInputText [(ngModel)]="newOrder.consumerName"/>

          </div>
          <div style="margin-top: 10px;">
            <label for="newName">Itens Selecionados:</label>
          </div>
          <div>
            <p-multiSelect [options]="itensAvalible" optionValue="id"  [(ngModel)]="newOrder.itemIds" placeholder="Selecione o item"  optionLabel="name" display="chip" [showClear]="true" panelStyleClass="custom-multiselect-panel"></p-multiSelect>
          </div>
          <div >
            <label for="newName">Serviços Adicionais:</label>
          </div>
          <div>
            <p-multiSelect [options]="additionalServicesAvalible" optionValue="id" [(ngModel)]="newOrder.serviceIds" placeholder="Selecione os serviços adicionais"  optionLabel="service" display="chip" [showClear]="true" panelStyleClass="custom-multiselect-panel"></p-multiSelect>
          </div>
          <div style="float: right;">
            <span style="margin-right: 10px;">
              Total:
            </span>
            <span style="font-size: 40px  ;color: salmon; ">
              R$ {{newOrder.price}}
            </span>
          </div>
          <button type="button" pButton label="Adicionar Pedido" (click)="addNewOrder()" style="margin-top: 10px;" [disabled]="validadePedido" ></button>
      </div>
    </p-dialog>

</div>
