.container {
    height: 100%;
    width: 242px;
    position: fixed;
    border-right : 0.1px solid  rgba(0, 0, 0, 0.2);
}
.item{
    
    height: 70px;
    width: 100%;
    
}
.containet-two{
    
    padding-top: 10px;
    width: 100%;
}
.font-button{
    text-align: center;
    color: rgba(17, 17, 17, 0.8);
    width: 100%;
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    
}
.button{
  margin-top: 20px;
  display: flex;
  justify-content: left; 
  height: 200px; 
  transition: background-color 0.3s, transform 0.3s;
}
.icon-button{
    display: inline-block;
    padding-right: 30px;
    font-size: 24px; 
    vertical-align: bottom;
    border-bottom: 30px;
}
.text-button{
    font-size: 14px;
    display: inline-block;
    vertical-align: center;
    margin-right: 20px;
}
.button:hover{
    background-color: rgba(0, 0, 0, 0.8);
    transform: scale(1.05);
    color: rgb(58, 58, 58);
    .text-button{
        transform: scale(1.05);
        color: #F07D90;
    }
    .icon-button{
        transform: scale(1.05);
        color: #F07D90;
    }
}
