<div fxLayout="column" class="container"> 
    <div fxLayout="column"  fxFlexAlign="start" class="containet-two">
        <div fxLayout="column" fxLayoutAlign="start stretch" class="item">
            
            <button mat-button class="button" (click)="retornaPedidos()">
                <div class="font-button">
                    <mat-icon class="icon-button" >shopping_cart</mat-icon>
                    <div class="text-button">
                        Pedidos
                    </div>
                </div>
            </button>
        </div>
        <div fxLayout="column" fxLayoutAlign="start stretch" class="item">
            
            <button mat-button class="button">
                <div class="font-button">
                    <mat-icon class="icon-button">shopping_cart</mat-icon>
                    <div class="text-button">
                        Pagamentos
                    </div>
                </div>
            </button>
        </div>
        <div fxLayout="column" fxLayoutAlign="start stretch" class="item">
            
            <button mat-button class="button">
                <div class="font-button">
                    <mat-icon class="icon-button" >shopping_cart</mat-icon>
                    <div class="text-button">
                        Catálogo
                    </div>
                </div>
            </button>
        </div>
        
        
    </div>
</div>