.example-spacer {
    flex: 1 1 auto;
  }
.toolbar-container{
  background-color: white;
  border-bottom : 0.1px solid  rgba(0, 0, 0, 0.2);
  margin-top: -10px;

}
.buttons{
  color: black;
  
  
  
}

.icon-button{
  color: black;
}
.text-button{
  color: black
}